body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}


table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    
}
.head{
    text-align: center;
}

.dia, .hora{
    background-color: rgba(21,21,153,255);
    color: #ddd;
    font-weight: bold;
}
ul{
    list-style-type: none;
    padding: 2px;
    
    color: #ddd;
}

.frist{
    background-color: rgba(46,47,227,255);
}
.sleep{ 
    background-color: rgba(138,138,239,255);
    color: #ddd;
    align-items: center;
    vertical-align: middle;
    
    
}
.ingles{
    background-color: #b3c6e0;
}
.mat{
    background-color: #e9b149;
}
.bg{
    background-color: #ffb3b3;
}
.fut{
    background-color: #99ccff;
}
.cof{
    background-color: #ffffcc;
}
.inter{
    background-color: #d9e6f2   ;
}
.port{
    background-color: #ff9966;
}
.wen{
    background-color: #cc99ff;
}
.logic{
    background-color: #6699cc;
}
.napne{
    background-color: #66cc99;
}
.so{
    background-color: #ff9999;
}
.desc{
    background-color: #f2f2f2;
}
.rv{
    background-color: #ffcc66;
}
.org-judo{
    background-color: #99ccff;
}
.judo{
    background-color: #99ccff;
}
.ir{
    background-color: #66b2b2;
}
.bolsa{
    background-color: #66cccc;
}
.jant{
    background-color: rgb(217, 89, 89);
}