body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
div {
    /* Para visualizar o que está acontecendo */
    border: 1px solid black;
}
.head {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #154194;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}
.itens-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}
.itens-menu ul li {
    margin-right: 25px;
}
.itens-menu ul li:last-child {
    margin-right: 0;
}
.itens-menu ul li a {
    color: white;
    text-decoration: none;
}
.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006dff;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.img-md {
    padding-left: 150px;
    width: 210px;
}
.search {
    width: 24px;
    height: 24px;
    margin-right: 175px;
    fill: aliceblue;
}
.div-global {
    width: 100%;
}
.div-secao1 {
    background-color: #103476;
}
.div-dois-quadros {
    display: flex;
    justify-content: center;
}
.div-dois-quadros > div {
    margin: 20px;
    margin-bottom: 35px;
    border-radius: 15px;
    background-color: aliceblue;
    transition: background-color 0.3s, box-shadow 0.3s; 
}
.div-dois-quadros div  a img {
    width: 580px;
    height: 349px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.div-dois-quadros-radius{
    border: 2px solid black;   
    width: 580px;
    height: 425px; 
    border-radius: 10px;
}
.div-dois-quadros > div:hover {
    /*resolver depois*/
    background-color: white;
    box-shadow: 0 0 10px white;
}
.div-dois-quadros div > img {
    width: 656px;
    height: 349px;
}

/*parte das fotos ABAIXO*/
.div-tres-quadros{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 160px;
    margin-right: 135px;
}
.card{
    width: 390px;
    height: 280px;
    
    background-color: aliceblue;
    border-radius: 10px;
    /*margin: 0 10px 0 160px;*/
}
.card img{
    width: 390px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    
}
