*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
div{
    /*para visualizar o que está acontecendo*/
    border: 1px solid black;
    padding: 5px;
}
.head{
    width: 100vw;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #154194;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.12);
}

.itens-menu ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.itens-menu ul li{
    margin-right: 25px;
}
.itens-menu ul li:last-child{
    margin-right: 0;
}
.itens-menu ul li a{
    color: white;
    text-decoration: none;
}
.img-md{
    padding-left: 150px;
    width: 210px;
    margin: 6px 0 6px;
}
.div-global{
    width: 100%;
}
.div-secao1{
    background-color: darkblue;   
}
.div-dois-quadros{
    display: flex;
    justify-content: center;

}
/*acessando a div dois quadros*/
.div-dois-quadros > div{
    width: 350px;
    height: 200px;
}
.div-dois-quadros > div:hover{
    background-color: white;
    box-shadow: 0px 0px 10px ;
}
.div-tres-quadros{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}